* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

body {
background: #020617;
color: white;
overflow-x: hidden;
}


/* NAVBAR */

nav {

display: flex;

justify-content: space-between;

padding: 25px 10%;

}

nav ul {

display: flex;

gap: 30px;

list-style: none;

}

nav a {

text-decoration: none;

color: white;

opacity: 0.8;

}

nav a:hover {

opacity: 1;

}


/* HERO */

.hero {

padding: 150px 10%;

}

.hero p {

opacity: 0.7;

}

.hero h1 {

font-size: 70px;

font-weight: 600;

}

.hero h2 {

font-size: 40px;

color: #38bdf8;

}

.subtitle {

margin-top: 10px;

opacity: 0.7;

}


/* CARD */

.card {

margin: 60px 10%;

padding: 40px;

border-radius: 15px;

background: rgba(255,255,255,0.05);

backdrop-filter: blur(10px);

border: 1px solid rgba(255,255,255,0.1);

}


/* GRID */

.grid {

display: grid;

grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

gap: 15px;

margin-top: 20px;

}

.grid div {

background: rgba(255,255,255,0.05);

padding: 15px;

border-radius: 10px;

}


/* BACKGROUND BLOBS */

.background {

position: fixed;

width: 100%;

height: 100%;

z-index: -1;

overflow: hidden;

}

.blob {

position: absolute;

width: 500px;

height: 500px;

border-radius: 50%;

filter: blur(120px);

opacity: 0.7;

animation: move 20s infinite alternate ease-in-out;

}

.blob1 {

background: #38bdf8;

top: -100px;

left: -100px;

}

.blob2 {

background: #8b5cf6;

bottom: -100px;

right: -100px;

}

.blob3 {

background: #06b6d4;

top: 40%;

left: 40%;

}

@keyframes move {

0% {

transform: translate(0,0);

}

100% {

transform: translate(200px,150px);

}

}

.skills-container {

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    gap: 20px;

    margin-top: 20px;

}

.skill-box {

    background: rgba(255,255,255,0.05);

    padding: 20px;

    border-radius: 12px;

    border: 1px solid rgba(255,255,255,0.1);

    backdrop-filter: blur(10px);

    transition: 0.3s;

}

.skill-box:hover {

    transform: translateY(-5px);

    border-color: #38bdf8;

}

.skill-box h3 {

    margin-bottom: 10px;

    color: #38bdf8;

}

.skill-box ul {

    padding-left: 20px;

}

.skill-box li {

    margin-bottom: 6px;

    opacity: 0.9;

}

.section {
  width: 600px;
  margin: 40px auto;
  font-family: Arial, sans-serif;
}

.timeline {
  position: relative;
  margin-left: 20px;
  padding-left: 30px;
  border-left: 2px solid #1f3c88; /* Vertical line */
}

.timeline-item {
  position: relative;
  margin-bottom: 40px;
}

.timeline-dot {
  position: absolute;
  left: -41px;
  top: 5px;
  width: 14px;
  height: 14px;
  background: white;
  border: 3px solid #1f3c88;
  border-radius: 50%;
}

.timeline-content h3 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.date {
  display: inline-block;
  margin: 8px 0;
  padding: 4px 8px;
  background: #eee;
  font-size: 14px;
}


