.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  background: #efede7;   /* light sidebar */
  color: #2d3142;        /* dark text */
  padding-top: 30px;
  z-index: 1000;
}

.sidebar a {
  color: #2d3142;
  text-decoration: none;
}

.sidebar a:hover {
  color: #0077b6;
}

.main-content {
  margin-left: 300px;
  padding: 40px 60px;
  width: calc(100% - 300px);
  color: white;          /* important */
}
body {
  background: #020617;
  color: white;
}

.hero {
  padding: 40px 0;
}
