.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  background: #efede7;
  padding-top: 30px;
  z-index: 1000;
}

.main-content {
  margin-left: 300px;
  padding: 40px 60px;
  width: calc(100% - 300px);
}

.hero {
  padding: 40px 0;
}

section {
  max-width: 900px;
}
